@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["WelcomeHeader"]</h1>
    @if (User.Identity == null && !User.Identity.IsAuthenticated)
    {
        <p>@Localizer["LoginAnnotation"]</p>
    }
</div>
